{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block page %}Home{% endblock %}

{% block body %}
<div class="mdl-grid page-content">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome to the PTV Nuke App.</h2>
    </div>
    <div class="mdl-card__media">
      <img src="../static/img/PTV/myki.png" width="200" height="100" border="0" alt="" style="padding:10px;display: block;margin: 0 auto;">
    </div>
    <div class="mdl-card__supporting-text">
      This app demonstrates the impact of nuking a specific train station from the PTV network, with specific respect to the flow-on impost upon conincident network interconnectivity. Add a station to find out how!
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a id="add_nuke" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Get Started - trigger</a>
      <!-- <span class="mdl-chip"><span class="mdl-chip__text">Chip Text</span></span> -->
      <!-- <span class="mdl-js-ripple-effect material-icons mdl-layout-spacer">keyboard_backspace</span> -->
    </div>
  </div>
</div>
{% endblock %}