<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A web app to assist with finding your perfect PTV ride.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Pick My Ride | {% block title %}{% endblock %}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../static/img/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="../static/img/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../static/img/ios-desktop.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="../static/img/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--  <link rel="canonical" href="http://www.example.com/"> -->   

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-cyan.min.css">
    
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" rel="stylesheet" type="text/css">
    
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>   
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <style>
      #add_nuke_plus.mdl-button--mini-fab {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
      }
    </style>
 
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--blue-grey-900 mdl-color-text--blue-grey-100">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
          
            {% block page %}{% endblock %}
          
          </span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-color--blue-grey-100 mdl-color-text--blue-grey-900">
        <header>
          <img src="../static/img/PTV/ptv-logo.png" height="60" border="0" alt="" style="padding:10px;">
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-900">
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href="/dashboard"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">dashboard</i>Dashboard</a>
          <a class="mdl-navigation__link" href="/dashboard?mode=train"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">train</i>Train Map</a>
          <a class="mdl-navigation__link" href="/dashboard?mode=tram"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">tram</i>Tram Map</a>
          <a class="mdl-navigation__link" href="/dashboard?mode=bus"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">directions_bus</i>Bus Map</a>
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">traffic</i>Network Plan</a>
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">map</i>Nearby Services</a>
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">notifications</i>Upcoming Rides</a>
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">shopping_cart</i><span class="visuallyhidden">Purchases</span></a>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link"         ><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">help_outline</i>
           <button type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect show-modal">Disclaimer</button>
            <dialog class="mdl-dialog">
              <div class="mdl-dialog__content mdl-color--blue-grey-900 mdl-color-text--blue-grey-100">
                <p>This app comes with no guarantees other than the fact that it's based on a partial collection of myki touch-on-off data and is thoroughly modelled and caveated where appropriate.</p>
              </div>
              <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <button type="button" class="mdl-button accept">Agree</button>
                <button type="button" class="mdl-button reject">Disagree</button>
              </div>
            </dialog>
          </a>
        </nav>
      </div>
      
      <main class="mdl-layout__content">
    
      {% block body %}{% endblock %}

      <footer class="mdl-mini-footer mdl-color--blue-grey-900 mdl-color-text--blue-grey-100">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo visuallyhidden">Title</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
        </div>
        <div class="mdl-mini-footer__right-section">
          <button class="mdl-mini-footer__social-btn material-icons">train</button>
          <button class="mdl-mini-footer__social-btn material-icons">tram</button>
          <button class="mdl-mini-footer__social-btn material-icons">directions_bus</button>        
        </div>
      </footer>      

      </main>      
      
    </div>
    
    <button id="add_nuke_plus" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
      <i class="material-icons">add</i>
    </button>
    
    <ul class='mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--top-right' for="add_nuke_plus">
    {% for key in station_dict.keys() %}    
      <li id="{{ key }}_Stations" class="mdl-menu__item"><span class="mdl-menu__item">{{ key }} Stations<i class="material-icons mdl-menu__item-icon">chevron_right</i></span></li>    
    {% endfor %}
    </ul>       
    {% for key, values in station_dict.items() %}    
      <ul id="{{ key }}_StationList" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="{{ key }}_Stations">
        {% for value in values %}
        <li class="mdl-menu__item"><a href="/dashboard?station={{ value }}"><span class="mdl-menu__item"><i class="material-icons mdl-menu__item-icon">train</i>{{ value }}</span></a></li>
        {% endfor %}
      </ul>  
    {% endfor %}
    
    <script>
    // Dialog box handling when user clicks "disclaimer"
    var dialog = document.querySelector('dialog');
    var showModalButton = document.querySelector('.show-modal');
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    showModalButton.addEventListener('click', function() {
      dialog.showModal();
    });
    dialog.querySelector('.accept').addEventListener('click', function() {
      dialog.close();
    });
    dialog.querySelector('.reject').addEventListener('click', function() {
      dialog.close();
      window.location.replace("http://www.datasciencemelbourne.com/datathon");
    });
    // When user clicks "get started" simulate + button click
    document.getElementById("add_nuke").addEventListener("click", function(event) {
    event.preventDefault();
    document.getElementById("add_nuke_plus").click();
    });
    // When user clicks on station from list, capture index and value text == > UNCOMMENT NEXT 5 LINES TO IMPLEMENT < ==
    //$('[id$=_StationList] li').click(function() {  // With ID ending "_StationList"
    //var index = $(this).index();
    //var text = $(this).text().substring(5); // This gets rid of the first 5 chars, which is 'train', called to make the MDL icon
    //alert('Index is: ' + index + ' and text is ' + text);
    //});
    </script>
    
	</body>
</html>